OLD_RelatedWork_Before2019/[Lecture Notes in Electrical Engineering 282] Ivan Zelinka, Vo Hoang Duy, Jaesang Cha (eds.) - AETA 2013_ Recent Advances in Electrical Engineering and Related Sciences (2014, Springer-Verlag Berlin Heidelberg).pdf
OLD_RelatedWork_Before2019/Almeida2009Radar.pdf
OLD_RelatedWork_Before2019/Armando2017USV.pdf
OLD_RelatedWork_Before2019/Bertaska2015ExperimentalOperations_Evaluation_4PathPlanners.pdf
OLD_RelatedWork_Before2019/Caccia2007Unamanned.pdf
OLD_RelatedWork_Before2019/Campbell2012Review_CollisionAvoidance.pdf
OLD_RelatedWork_Before2019/Eidal2018COLREGsVessels.pdf
OLD_RelatedWork_Before2019/Gupta2013DevelopingVehicles_WholeUSVSystem.pdf
OLD_RelatedWork_Before2019/Huntsberger et al. - 2011 - Stereo vision-based navigation for autonomous surface vessels.pdf
OLD_RelatedWork_Before2019/Kiencke2005Impact.pdf
OLD_RelatedWork_Before2019/Kuwata2011SafeObstacles_COLREGs_VelocityObstacles.pdf
OLD_RelatedWork_Before2019/Larson2006Autonomous.pdf
OLD_RelatedWork_Before2019/Liu2016Unmanned.pdf
OLD_RelatedWork_Before2019/Moud2018Current.pdf
OLD_RelatedWork_Before2019/Naeem2012COLREGs_a.pdf
OLD_RelatedWork_Before2019/Naus2013Idea.pdf
OLD_RelatedWork_Before2019/Ning2018ImplementationVehicle_GNC_HoleSystem.pdf
OLD_RelatedWork_Before2019/Papadopoulos2014Experiments.pdf
OLD_RelatedWork_Before2019/Pastore2010Improving.pdf
OLD_RelatedWork_Before2019/Polvara2017ObstacleVehicles.pdf
OLD_RelatedWork_Before2019/Shojaei2018Proof.pdf
OLD_RelatedWork_Before2019/Stenersen2015GuidanceVehicles_MScThesis_GuidanceSystemWithCOLREGS.pdf
OLD_RelatedWork_Before2019/Svec2012USV_Guidance_PredictiveModel.pdf
OLD_RelatedWork_Before2019/Wang2013tereovision.pdf
OLD_RelatedWork_Before2019/Wang2016Research_Guidance_AntColony.pdf
OLD_RelatedWork_Before2019/Wang2018COLREGsVehicle.pdf
OLD_RelatedWork_Before2019/Wang2018Hybrid.pdf
OLD_RelatedWork_Before2019/Xie2014ObstacleAvoidance_PotencialField.pdf
OLD_RelatedWork_Before2019/Yan2010Development.pdf
OLD_RelatedWork_Before2019/Yang2010Efficient_DPSS.pdf
OLD_RelatedWork_Before2019/Yaunchang2015Pratical_Guidance_FastMarching.pdf
OLD_RelatedWork_Before2019/Yuanchang2015PathEnvironment_PathPlanning_FastMarching.pdf
OLD_RelatedWork_Before2019/[Lecture Notes in Electrical Engineering 282] Ivan Zelinka, Vo Hoang Duy, Jaesang Cha (eds.) - AETA 2013_ Recent Advances in Electrical Engineering and Related Sciences (2014, Springer-Verlag Berlin Heidelberg).pdf
OLD_RelatedWork_Before2019/[Lecture Notes in Electrical Engineering 282] Ivan Zelinka, Vo Hoang Duy, Jaesang Cha (eds.) - AETA 2013_ Recent Advances in Electrical Engineering and Related Sciences (2014, Springer-Verlag Berlin Heidelberg).pdf
